*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
}
body {
    width: 100%;
}
.linea {
    width: 100%;
    height: 4vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linea h2 {
    color: #FBFBFB;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
}
  
.navbar1{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 100px;
}
.navbar-left ul{
    display: flex;
    align-items: center;
    gap: 22px;
}
.navbar-a a{
    color: #000000;
}
.content1-img img{
    width: 100%;
}
.textw{
    position: absolute;
    top: 140px;
    left: 34%;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 65px;
}
.textw h1{
    font-size: 40px;
    font-weight: 400;
}
.textw p{
    font-size: 16px;
    font-weight: 400;
}
.content1-btn ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
.content1-btn li{
    width: 200px;
    height: 40px;
    background: #FF4A32;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.content1-btn a{
    color: white;
}
.header-content2{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.h-content2-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.h-content2-text p{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
    padding-top: 20px;
}
.line1{
    margin-top: 20px;
    width: 200px;
    border: 1px solid gray;
}
.h-content3 img{
    width: 100%;
    margin-top: 10px;
}
.main-content{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 40px;
}
.m-content-img{
    display: flex;
    align-items: center;
    gap: 10px;
}
.m-content-text{
    padding-top: 100px;
}
.m-content-text h1{
    padding-bottom: 20px;
}
.m-content-text button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background: #FF4A32;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
}
.main-content2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.lin{
    width: 100px;
    border: 1px solid gray;
}
.main-content4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 70px;
}
.lineaa{
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 10px gray;
    position: relative;
    bottom: 40px;
}